@CHARSET "utf-8";

body {
	margin: 0px;
}

#dragContent{
	top:100px;
	left:200px;
	height: 200px;
	width: 400px;
	background: rgba(0,0,0,0.2);
	position: absolute;
/* 	-webkit-transform-origin:0 0; */
}