@CHARSET "utf-8";

@IMPORT url("component_scale_image.css");
@IMPORT url("component_image_fold.css");
@IMPORT url("component_pinch_image.css");
@IMPORT url("component_image.css");


body {
	margin: 0px;
}


#app {
	height: 768px;//
	width: 1024px;
	margin: 0px auto;
	overflow: hidden;
}

#content {
	height: 768px;
	width: 1024px;
	position: absolute;
	overflow: hidden;
	background-color: rgba(100,0,0,0.1);
}

/* pages css */
.pageScroll{
	height: 768px;
	width: 1024px;
/* 	background-color: rgba(0,0,0,0.3); */
}

.pages{
	-webkit-transform-style: preserve-3d;
/* 	-webkit-transform: translate3d(0,0,0); */
	height: 768px;
	top:0px;
	position: absolute;
	background-color: rgba(100,200,0,0.8);
}

.page{
	height: 768px;
	width: 1024px;
	background-color: rgba(0,0,0,0.3);
	float: left;
}

#prompt{
	margin:0px auto;
	top:0px;
	height:768px;
	width:1024px;
	position:absolute;
	pointer-events:none;
}