@CHARSET "utf-8";

body {
	margin: 0px;
}

#dragContent{
	height: 768px;
	width: 1024px;
	background: rgba(0,0,0,0.2);
	background:url('../images/p3a.jpg')
}

.scaleContent{
	-webkit-transform:scale(0.4);
}

#imageContent{
/* 	height: 768px; */
/* 	width: 1024px; */
/* 	background:url('../images/p3a.jpg'); */
}